<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=.\MSSQL2016;Initial Catalog=College_Depertment_Management_System;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"/>
    <add name="College_Depertment_Management_SystemConnectionString" connectionString="Data Source=.\MSSQL2016;Initial Catalog=College_Depertment_Management_System;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"/>
    <add name="College_Depertment_Management_SystemConnectionString2" connectionString="Data Source=.\MSSQL2016;Initial Catalog=College_Depertment_Management_System;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"/>
    <add name="College_Depertment_Management_SystemConnectionString3" connectionString="Data Source=.\MSSQL2016;Initial Catalog=College_Depertment_Management_System;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"/>
    <add name="College_Depertment_Management_SystemConnectionString4" connectionString="Data Source=.\MSSQL2016;Initial Catalog=College_Depertment_Management_System;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"/>
    <add name="College_Depertment_Management_SystemConnectionString5" connectionString="Data Source=.\MSSQL2016;Initial Catalog=College_Depertment_Management_System;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"/>
    <add name="College_Depertment_Management_SystemConnectionString6" connectionString="Data Source=.\MSSQL2016;Initial Catalog=College_Depertment_Management_System;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"/>
    <add name="College_Depertment_Management_SystemConnectionString7" connectionString="Data Source=.\MSSQL2016;Initial Catalog=College_Depertment_Management_System;Persist Security Info=True;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>