#footer {
    position: relative;
    float: left;
    bottom: 0;
    width: 10%;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 25px;
    user-select: none;
}

    #footer .links
    {
        width: 100%;
        margin-bottom: 25px;
    }
        #footer .links p
        {
            font-family: Arial;
            margin-bottom: 15px;
        }

        #footer .links a
        {
            color: #eee;
            text-decoration: none;
            text-transform: uppercase;
            font-family: Arial;
            font-size: 16px;
            padding: 5px 10px 5px 0px;
        }

        #footer .links i
        {
            margin-right: 8px;
        }

        #footer .links a:hover
        {
            color: #fff;
            font-weight: bold;
            text-decoration: underline;
        }

#footer .info {
    width: 100%;
    float: left;
    text-align: justify;
    position: relative;
    margin: 25px 0px;
}

#footer .info .banner {
    
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

#footer .info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
}

    #footer .info .contact
    {
        text-align: left;
        font-size: 18px;
        user-select: text;
    }

        #footer .info .contact .mobile
        {
            margin-bottom: 20px;
        }

#footer .info .contact i {
    margin-right: 10px;
}

#footer .copyright
{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 2;
    margin-top: 25px;
}

/*-------------Mobile-------------*/

@media (max-width: 600px)
{
    #footer .links
    {
        margin-bottom: 20px;
    }
    #footer .info
    {
        margin: 20px 0px;
    }
        #footer .copyright
        {
            margin-top: 20px;
            line-height: 1.5;
        }
}