* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
}

body {
    width: 100%;
    background-color: #fff;
    position: relative;
    user-select: none;
}

#body {
    width: 100%;
    padding: 5px 50px;
}

#header {
    min-height: 80px;
    width: 100%;
    background-image: linear-gradient(#097FBD, #00A3F8);
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    user-select: none;
}

#logo {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 4px;
}

#body .status {
    width: 100%;
    padding: 5px 5px;
    background: #ccc;
}

#content {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 5px auto 30px;
    padding: 10px 200px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .3);
}

.form {
    padding-bottom: 90px;
    position: relative;
    width: 100%;
    min-height: 200px;
}

.form .lblContainer {
    width: 100%;
    padding: 20px 20px 5px;
}

.form .lblContainer .lbl {
    font-size: 15px;
}

.form .lblMessage {
    margin: 20px;
    font-size: 14px;
    color: Red;
}

.input-box {
    position: relative;
    width: 90%;
    margin: 20px auto;
}

.input-box.search {
    width: 90%;
}

.input-box small {
    position: absolute;
    bottom: -16px;
    left: 1px;
    color: Red;
}

.input-box .input {
    width: 100%;
    height: 55px;
    padding: 13px 15px;
    font-size: 16px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.input-box .label-name .content-name {
    position: absolute;
    bottom: 18px;
    left: 16px;
    color: #595f6e;
    transition: all .2s ease;
}

.input-box .label-name .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.input-box .input:focus+.label-name .content-name {
    transform: translateX(-5px) translateY(-28px);
    font-size: 14px;
    color: #1A73E8;
    background-color: #fff;
    padding: 0px 3px 0px 3px;
}

.input-box .input:valid+.label-name .content-name {
    transform: translateX(-3px) translateY(-30px);
    font-size: 14px;
    color: #1A73E8;
    background-color: #fff;
    padding: 0px 3px 0px 3px;
    transition: all 0s ease;
}

.input-box .input:focus:valid+.label-name .content-name {
    transform: translateX(-5px) translateY(-28px);
}

.input-box .input:focus+.label-name {
    border: 2px solid #1A73E8;
    border-radius: 4px;
}

.input-box .input:focus+.label-name .icon {
    right: 13px;
}

#error,
#OtpError {
    color: Red;
    font-size: 18px;
}

#success {
    color: Green;
    font-size: 18px;
}

.check label a:hover {
    text-decoration: underline;
    color: #1A73E8;
}

.btnContainer {
    position: absolute;
    right: 20px;
    bottom: 25px;
}

.btnContainer .btn {
    padding: 10px 30px;
    font-family: Sans-Serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #1A73E8;
    color: #ccc;
    border: 0;
    border-radius: 4px;
    outline: none;
}

.btn:hover {
    color: #fff;
    text-decoration: underline;
}

@media (min-width: 600px) and (max-width: 900px) {
    #content {
        padding: 20px 10%;
    }
}


/*-------------Mobile-------------*/

@media (max-width: 600px) {
    #header {
        min-height: 50px;
        padding: 0 5px;
    }
    #logo span {
        font-size: 30px;
        letter-spacing: .5px;
    }
    #body {
        padding: 5px 10px;
    }
    #content
    {
        margin: 5px auto;
        padding: 4px 5px;
    }
    .btnContainer .btn {
        padding: 8px 20px;
        font-size: 18px;
        text-transform: capitalize;
    }
}