* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
    user-select: none;
}

body {
    width: 100%;
}

#logo {
    min-height: 80px;
    width: 100%;
    background-image: linear-gradient(#097FBD, #00A3F8);
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 4px;
}

.login-panel {
    width: 500px;
    background: #333333;
    margin: 21px auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .5);
    border: 1px solid transparent;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.login-panel p {
    width: 80%;
    margin: 31px auto;
    text-align: justify;
    line-height: 1.5;
}

.login-panel p span {
    text-decoration: underline;
}


.input-box {
    margin: 31px auto 50px;
    width: 80%;
    box-sizing: border-box;
    position: relative;
}

.input-box .input {
    width: 100%;
    height: 55px;
    padding: 13px 15px 13px 50px;
    font-size: 16px;
    color: #fff;
    background-color: Transparent;
    border: 1px solid #fff;
    box-shadow: 0 0 10px 1px #000;
    border-radius: 4px;
    outline: 0;
}

.input-box .input.password {
    padding-right: 50px;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.input-box .label-name .content-name {
    position: absolute;
    bottom: 18px;
    left: 51px;
    font-size: 16px;
    color: #ccc;
    transition: all .2s ease;
}

.input-box .label-name .icon {
    position: absolute;
    left: 1px;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid #DADCE0;
    pointer-events: auto;
    cursor: default;
}

.input-box .label-name .icon i {
    font-size: 20px;
    color: #ccc;
}

.input-box .input:focus+.label-name .content-name {
    transform: translateX(-5px) translateY(-28px);
    font-size: 14px;
    color: #fff;
    background: #333333;
    padding: 0px 3px 0px 3px;
}

.input-box .input:valid+.label-name .content-name {
    transform: translateX(-3px) translateY(-30px);
    font-size: 14px;
    color: #fff;
    background: #333333;
    padding: 0px 3px 0px 3px;
    transition: all 0s ease;
}

.input-box .input:focus:valid+.label-name .content-name {
    transform: translateX(-5px) translateY(-28px);
}

.input-box .input:focus+.label-name {
    border: 2px solid #1A73E8;
    border-radius: 4px;
}

.input-box .input:focus+.label-name .icon {
    left: -1px;
}

.input-box .input:focus+.label-name .icon i {
    color: #1A73E8;
}

.input-box .label-name .eye {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
    cursor: pointer;
    padding: 10px;
}

.input-box .label-name .eye i {
    font-size: 20px;
    color: #ccc;
}

.input-box .label-name .eye #show {
    display: none;
}

.input-box .input:focus+.label-name .eye {
    right: -1px;
}

.login-btn {
    margin: 60px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px #000;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 18px;
    transition: all ease .5s;
}

.login {
    display: block;
    position: relative;
    margin: 60px auto 20px;
    width: 80%;
    height: 50px;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 18px;
    transition: all ease .5s;
}

.row {
    margin: 40px auto 0;
    width: 80%;
    position: relative;
}

.row .link {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.row .link:hover {
    text-decoration: underline;
}

#linkForgotPassword {
    position: absolute;
    right: 0;
}


/*-------------Mobile-------------*/

@media (max-width: 600px) {
    #logo {
        width: 100%;
        padding: 8px 0;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 6px;
    }
    .login-panel {
        width: 90%;
        margin: 20px auto;
        margin-top: 20%;
        padding: 20px 0 50px;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .input-box {
        margin: 0 auto 40px;
        width: 80%;
    }
    .input-box .input {
        padding: 13px 15px 13px 43px;
    }
    .input-box .input.password {
        padding-right: 41px;
    }
    .input-box .label-name .content-name {
        left: 44px;
    }
    .input-box .label-name .icon {
        padding: 8px;
    }
    .input-box .label-name .icon i {
        font-size: 18px;
    }
    .input-box .label-name .eye {
        padding: 8px;
    }
    .btnContainer {
        margin: 40px auto 20px;
        width: 100%;
    }
}

@media (max-width: 359px) {
    body {
        width: 360px;
    }
}